.App {
  text-align: center;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
}

.App-header {
  background-color: #f45;
  height: 100px;
  padding: 10px;
  margin: 7px;
  margin-bottom: 50px;
  color: white;
}

.App-header img {
  width: 20px;
}

.App-header a {

}

.App-header-simple {
  height: 70px;
}

.App-header a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.App-header h2 {
  margin: 0;
}