.App {
  text-align: center;
}

.App-header {
  background-color: #f45;
  height: 100px;
  padding: 20px;
  margin: 5px;
  margin-bottom: 50px;
  color: white;
}

.App-header-simple {
  height: 70px;
}

.App-header a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.Home-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.Home-entry {
  color: #222;
  font-weight: bold;
  text-decoration: underline;

  background-color: #ddd;
  height: 100px;
  padding: 12px;
  
  vertical-align: bottom;
  
  display: table-cell;
}

.Home-entry:link, .Home-entry:visited {
  background-color: #ccc;
}

.Home-entry:hover {
  background-color: #eee;
}

.Home-entry-main {
  font-size: x-large;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 10px;
  width: 264px;
}

.Home-game {
  font-size: small;
  width: 132px;
  padding-left: 12px;
  padding-right: 12px;
}

.Home-language {
  width: 88px;
  padding-left: 8px;
  padding-right: 8px;
}
