
.App {
  text-align: center;
  color: #222;
}

a {
  color: #fff;
  text-decoration: underline;
}

h3 {
  font-size: 1.7em;
  color: #f45;
  margin-top: .3em;
  margin-bottom: 1.5em;
}

.App-header {
  background-color: #f45;
  height: 6em;
  padding: .5em;
  margin: .5em;
  margin-bottom: .5em;
  color: white;
}

.App-header img {
  width: 20px;
}

.App-header-simple {
  height: 70px;
}

.App-header a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.App-header h2 {
  margin: 0;
}