.Game {
  margin-bottom: 3em;
}

.Game img {
  width: 100%;
}

.Game-img-container {
  position: relative;

  width: 90%;
  max-width: 600px;
  margin: auto;

  margin-bottom: 0px;
  background-position: center;
  height: 225px;
  overflow: hidden;
}

.Game-header {
  color: #fff;
  text-align: left;
  background-color: #00082e;
  opacity: .8;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  padding: 10px 15px;
  display: inline-block;
}

.Game-header h3 {
  font-size: x-large;
  margin-top: 0px;
  margin-bottom: 10px;
}

.date {
  margin-right: 5%;
  font-size: small;
  display: inline-block;
}

.tag {
  margin-right: 3%;
  font-size: small;
  display: inline-block;
}


.Game-entry {
  font-size: .9em;
  text-align: left;

  width: 80%;
  max-width: 600px;
  margin: auto;
  
  background-color: #ddd;
  
  margin-bottom: 2em;
  overflow: visible;
}

table, tbody, tr, th, td {
  padding: 0;
  margin: 0;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.Game-link {
  color: #fff;
  background-color: #699ab8;
  font-weight: bold;
  

  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.l2 {
  background-color: #4f85a6;
}

.l3 {
  background-color: #406c86;
}

.Game-link:hover {
 background-color: #88c1e4;
}

.Game-info {
  background-color: #ddd;
  line-height: 1.35em;
  padding: 1.1em 1.5em;
}

.Game-info a {
  text-decoration: underline;
}

.roles {
  font-size: .8em;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.roles span {
  margin-right: .6em;
}

.quote {
  padding: 1.5em 1.5em;
  line-height: 1.2em;
}

.quote br {
  line-height: 2em;
}

