
.Home-row {
  margin-top: 1.3em;
  vertical-align: middle;
}

.Home-entry {
  
  font-weight: bold;

  background-repeat: repeat-x;
  background-position: bottom; 
  height: 75px;
  padding: 12px;
  
  vertical-align: bottom;
  
  display: table-cell;
}

.Home-entry-main {
  color: #222;
  background-color: #e9e9e9;
  font-size: x-large;
  text-align: left;
  
  padding-left: 24px;
  padding-right: 24px;
  width: 264px;
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}  
  to {background-position: -40px -20px;}  
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}  
  to {background-position: -40px -20px;}  
}

.Home-entry-main-link a, .Home-entry-main-link:link {
  text-decoration: none;
}

.Home-info {
  font-size: small;
  font-style: italic;
}

/* games */

.Home-game {
  height: 120px;
}

.Home-game.Home-entry-main {
  background-image: url('./img/home-games.png');
}

.Home-game.Home-entry-main:hover {
  background-color: #00996c;
  color: #fff;
}

.Home-game.Home-entry-item {
  font-size: .9em;
  width: 140px;
  padding-left: 8px;
  padding-right: 8px;
  background-position: center;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.Home-game.Home-entry-item:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}


/* grams */

.Home-gram {
  height: 90px;
}

.Home-gram.Home-entry-main {
  background-image: url('./img/home-art.png');
}

.Home-gram.Home-entry-main:hover {
  background-color: #61c532;
  color: #fff;
}

.Home-gram.Home-entry-item {
  width: 96px;
  padding-left: 4px;
  padding-right: 4px;
  background-position: center;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.Home-gram.Home-entry-item:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}


/* programming */

.Home-program {
  height: 60px;
  
}

.Home-program.Home-entry-main {
  background-image: url('./img/home-programming.png');
  border-bottom: 1em solid #fff;
}

.Home-program.Home-entry-main:hover {
  background-color: #f5a102;
  color: #fff;
}

.Home-program.Home-entry-item.about-me {
  background-image: url('./img/home-about.png');
  width: 204px;
}