
.Home-row {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 7px;
  margin-right: 7px;
  vertical-align: middle;
}

.Home-entry {
  
  font-weight: bold;

  background-color: #ddd;
  height: 75px;
  padding: 12px;
  
  vertical-align: bottom;
  
  display: table-cell;
}

.Home-entry:link, .Home-entry:visited {
  background-color: #ccc;
}

.Home-entry:hover {
  background-color: #eee;
}

.Home-entry-main {
  font-size: x-large;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 10px;
  margin-top: 0px;
  width: 264px;
}

.Home-info {
  font-size: small;
  font-style: italic;
}

/* games */

.Home-game {
  height: 120px;
}

.Home-game.Home-entry-item {
  color: #fff;
  font-size: small;
  width: 140px;
  padding-left: 8px;
  padding-right: 8px;
  background-position: center;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.Home-game.Home-entry-item:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

/* grams */

.Home-gram {
  height: 90px;
}

.Home-gram.Home-entry-item {
  width: 96px;
  padding-left: 4px;
  padding-right: 4px;
  background-size: 150px; 
  background-position: center;
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.Home-gram.Home-entry-item:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}


/* programming */

.Home-program {
  height: 60px;
}

.Home-program.Home-entry-item {
  width: 96px;
  padding-left: 4px;
  padding-right: 4px;
}