.Project {
  background-color: #eee;
  line-height: 1.2em;
  text-align: left;

  margin: auto;
  margin-bottom: 3em;
  width: 90%;
  max-width: 600px;
}

.Project br {
  line-height:  2.3em;
}

.Project a {
  color: #222;
  text-decoration: underline;
}

.Project h4 {
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: .5em;
}

.Project table {
  width: 100%;
}

.Project-tags {
  background-color: #ddd;
}

.Project-tags button {
  padding: .5em 1.3em;
  background-color: #fff;
  display: inline-block;
  border: 0;
  cursor: pointer;
  border-right: 1px solid #ddd;
}

.Project-desc-tag-active {
  background-color: #fff;
}

.Project-tags button:hover {
  background-color: #eee;
}

.Project-tags button:hover {
  background-color: #ddd;
}

.Project-item {
  font-size: .9em;
  padding: 1em;
}

.Project-date {
  font-style: italic;
  text-align: right;
}